packages: [
  "atom-beautify"
  "atom-hide-tabs"
  "atom-mermaid"
  "autocomplete-mathjax"
  "genesis-syntax"
  "genesis-ui"
  "language-jsx"
  "language-markdown"
  "language-mermaid"
  "markdown-preview-enhanced"
  "markdown-themeable-pdf"
  "markdown-writer"
  "mathjax-wrapper"
  "package-sync"
  "pdf-view"
  "seti-icons"
  "seti-syntax"
  "seti-ui"
]
